.analogClock {
    width: 200px * $clockSizeMultiplier;
    height: 200px * $clockSizeMultiplier;
    background-color: $clockBaseColor;
    border: 4px * $clockSizeMultiplier solid $clockBorderColor;
    position: relative;
    border-radius: 300px;


    .secondsWrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;

        .seconds {
            width: 12px * $clockSizeMultiplier;
            height: 128px * $clockSizeMultiplier;
            position: absolute;
            bottom: 10px * $clockSizeMultiplier;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .minsWrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        

        .mins {
            width: 2px * $clockSizeMultiplier;
            height: $minuteArrowLength * $clockSizeMultiplier;
            background-color: $clockArrowsColor;
            position: absolute;
            bottom: 80px * $clockSizeMultiplier;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .hoursWrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;

        .hours {
            width: 4px * $clockSizeMultiplier;
            height: calc($minuteArrowLength / 2) * $clockSizeMultiplier;
            background-color: $clockArrowsColor;
            position: absolute;
            bottom: 80px * $clockSizeMultiplier;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .segment {
        width: 4px * $clockSizeMultiplier;
        height: 90%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: $clockSegmentsColor;
        z-index: 98;

        &:before,&:after {
            content: '';
            display: block;
            background-color: $clockSegmentsColor;
            width: 2px * $clockSizeMultiplier;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 96;
        }

        &:before {
            transform: rotate(-30deg);
        }

        &:after {
            transform: rotate(30deg);
        }

        &.second{
            transform: rotate(90deg);
        }
    }

    .mask {
        display: block;
        width: 150px * $clockSizeMultiplier;
        height: 150px * $clockSizeMultiplier;
        background-color: $clockBaseColor;
        border-radius: 100px * $clockSizeMultiplier;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 99;

    }

    .pin {
        width: 6% * $clockSizeMultiplier;
        height: 6% * $clockSizeMultiplier;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 100;
    }

    .logo {
        width: 14% * $clockSizeMultiplier;
        height: 14% * $clockSizeMultiplier;
        position: absolute;
        left: 0;
        right: 0;
        top: 40px * $clockSizeMultiplier;
        margin: auto;
        z-index: 100;
    }
}