.clock {
    display: grid;
    gap: 12px;
    justify-items: center;

    &-container {
        display: grid;
        grid-template-columns:  repeat(auto-fill, 200px);
        gap: 40px;
        margin: auto;
        padding: 32px;
        max-width: 1200px;
    }
}