$clockSizeMultiplier: 1;
$minuteArrowLength: 100px;
$clockBorderColor: #1d1d1d;
$clockArrowsColor: #1d1d1d;
$clockSegmentsColor: #1d1d1d;
$clockBaseColor: #fff;

$preloaderColor: red;

$selectBgColor: #E0E0E0;
$selectOptionsBgColor: #fff;
$acColor: #428BCA;
