$clockSizeMultiplier: 1;
$minuteArrowLength: 100px;
$clockBorderColor: #1d1d1d;
$clockArrowsColor: #1d1d1d;
$clockSegmentsColor: #1d1d1d;
$clockBaseColor: #fff;

$preloaderColor: red;

$selectBgColor: #fff;
$selectActiveBgColor: #e0e0e0;
$selectBorderColor: #1d1d1d;
$selectOptionsBgColor: #fff;
$acColor: #428BCA;
